@media(min-width:1350px){
    .background{
        background-color: rgb(50, 43, 77);
        color:white;
        width:100vw;
        position:relative;
        height:100vh;
        display:flex;
        flex-direction: column;
        align-items:center;
    }
}
@media(min-width:1024px) and ( max-width:1349px){
    .background{
        background-color: rgb(50, 43, 77);
        color:white;
        width:100vw;
        position:relative;
        height:100vh;
        display:flex;
        flex-direction: column;
        align-items:center;
    }
}
@media(min-width:412px) and ( max-width:1023px){
    .background{
        background-color: rgb(50, 43, 77);
        color:white;
        width:100vw;
        position:relative;
        height:100vh;
        display:flex;
        flex-direction: column;
        align-items:center;
    }
}
h1{
    position: relative;
    top:45px;
    font-family:'Inter';
    font-weight:800;
    font-size: 40px;
    text-shadow: 2px 5px 0 black;
}
p{
    position: relative;
    top:60px;
    font-family:'Inter';
    font-weight:800;
    

}

#coin{
    position: relative;
    top: 130px;
}
#shadow{
    position: relative;
    top: 160px;
}
button{
    position:absolute;
    top:425px;
    width:125px;
    height:50px;
    background-color: rgb(73, 136, 245);
    color: white;
    border-radius: 10%;
    border-color: rgb(73, 136, 245);
}
